/** fonts by Google **/
/** background by Subtle Patterns: http://subtlepatterns.com/gplay/ **/

@import url(http://fonts.googleapis.com/css?family=Oswald:400,300|Merriweather:400,400italic);

body {
  font-family: 'Merriweather', serif;
  background: #f8f8f8 url(../img/gplaypattern.png);
  color: #303030;
}

p {
  font-size: 14px;
  line-height: 1.7em;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  color: #404040;
  margin-bottom: 5px;
}

h2,h3,h4,h5 {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  color: #606060;
}

.title {
  width: 100%;
  height: 200px;
  margin-bottom: 40px;
}

.title h2 {
  margin-top: 0px;
}

.title p {
  margin-top: 30px;
}

.portrait {
  width: 200px;
  border-radius: 50%;
  /*border: solid 2px #808080;*/
  /*box-shadow: 0px 0px 5px 3px #202020;*/
}

div.content {
  background: #fff;
  padding: 20px;
  margin-top: 40px;
  box-shadow: 2px 2px 8px 1px #808080;
}
