@import url(http://fonts.googleapis.com/css?family=Fjalla+One|Raleway:300,400|Libre+Baskerville:400,700,400italic);

body {
  margin-top: 30px;
  font-family: 'Libre Baskerville', serif;
  font-size: 14px;
}

.page a {
  color: #981f41;
  font-style: italic;
}
.page a:hover {
  background-color: #eee;
  text-decoration: none;
}


.left-rail {
  border-right: solid 1px #eee;
}


.initials {
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  font-size: 120px;
  text-align: center;
  white-space: nowrap;
}


.nav>li>a {
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  text-transform: uppercase;
  color: #801b37;
  transition: background-color 250ms;
  -webkit-transition: background-color 250ms;
  -moz-transition: background-color 250ms;
}

.nav>li.active>a {
  background-color: #801b37;
  color: #fff;
}

div.portrait-container {
  text-align: center;
  margin-bottom: 20px;
}

div.portrait-container>img {
  border-radius: 50%;
  width: 200px;
  border: solid 4px white;
  box-shadow: 0px 0px 2px 1px #808080;
}

div.big {
  font-size: 24px;
  line-height: 1.8em;
}

span.amp:before {
  content: "\26";
  font-style: italic;
  color: #666;
}

.big>p {
  margin-bottom: 20px;
}

h1,h2,h3 {
  line-height: 1.4em;
}


h1,h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-family: 'Libre Baskerville', serif;
  font-size: 16px;
  font-weight: bold;
}

div.justify>p {
  text-align: justify;
}

p.subtle {
  font-style: italic;
  color: #808080;
}

p.before-list {
  margin-bottom: 0px; 
}